<h1>Inscritos (<%= @users.length%>)</h1>
<div id="attendees">
	
<% if !@users.blank? %>
	<table>
	  <tr>
	    <th style="width: 150px;">Nome</th>
	    <th style="width: 150px;">Email</th>
	    <th>Espera?</th>
	    <th>Twitter</th>
	    <th>CPF</th>
	    <th>Cidade</th>
	    <th>Empresa</th>
	    <th>Faculdade</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.name %></td>
	    <td><%= user.email %></td>
	    <td><%= user.waiting_list ? "Sim" : "Não" %></td>
	    <td><%= user.twitter %></td>
	    <td><%= user.cpf %></td>
	    <td><%= user.city_name %></td>
	    <td><%= user.company %></td>
	    <td><%= user.college %></td>

			<% if user.waiting_list %>
	    	<td><%= link_to "Confirmar", :controller => "admin", :action => "confirm_user", :id => user.id %></td>
			<% else %>
				<% if !user.canceled %>
	    	<td><%= link_to "Cancelar", :controller => "admin", :action => "cancel_user", :id => user.id %></td>
				<% else %>
				  <td></td>
				<% end %>
			<% end %>

	    <td><%= link_to "Excluir", :controller => "admin", :action => "remove_user", :id => user.id %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<p>Ninguem se registrou ainda :( </p>
<% end %>
</div>