<h1 class="group"><%= t("titles.sponsors.index") %></h1>
<div id="sponsors" class="group">
	<div class="diamond">
		<h2>Diamond</h2>
		<%= link_to "http://www.caelum.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/diamond-1-caelum.jpg", :title => "Caelum - Ensino e Inovação em Java" %>
		<% end %>
		<h2>Happy Hour</h2>
		<%= link_to "http://www.gonow.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/happyhour-1-gonow.jpg", :title => "GoNow Tecnologia" %>
		<% end %>
	</div>
	<div class="platinum">
		<h2>Platinum</h2>
		<%= link_to "http://www.img.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/platinum-1-img.jpg", :title => "Imagem Soluções Verticais" %>
		<% end %>
		<%= link_to "http://idopter.com/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/platinum-2-idopter.jpg", :title => "iDopter" %>
		<% end %>
		<%= link_to "http://www.nuccitec.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/platinum-3-nuccitec.jpg", :title => "Nuccitec - Tecnologia na Prática" %>
		<% end %>
	</div>
	<div class="gold">
		<h2>Gold</h2>
		<%= link_to "http://www.systhemis.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/gold-1-systhemis.jpg", :title => "Systhemis" %>
		<% end %>
		<%= link_to "http://www.zigotto.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/gold-2-zigotto.jpg", :title => "Zigotto" %>
		<% end %>
		<%= link_to "http://www.eliggere.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/gold-3-eliggere.jpg", :title => "Eliggere" %>
		<% end %>
		<%= link_to "http://www.embras.net/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/gold-4-embras.jpg", :title => "Embras" %>
		<% end %>
	</div>
	<div class="suporte">
		<h2>Mídia e Suporte</h2>
		<%= link_to "http://www.mundoj.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/suporte-1-mundoj.jpg", :title => "Revista Mundo J" %>
		<% end %>
		<%= link_to "http://www.kadufilms.com/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/suporte-2-kadu.jpg", :title => "Kadu Films" %>
		<% end %>
	</div>
	<div class="apoio">
		<h2>Apoio</h2>
		<%= link_to "http://http://codeplane.com.br/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/cp-devinvale.png", :title => "Codeplane" %>
		<% end %>
		<%= link_to "http://http://grokposcast.com/?devinvale", :target => "_blank" do %>
			<%= image_tag "/images/sponsors/grokposcast.png", :title => "Grok Poscast" %>
		<% end %>
	</div>
</div>