<h1><%= t("titles.schedule.index") %></h1>
<div id="schedule">
	<p>A organização do DevInVale preparou uma seleção de palestras de alto nível para você!</p>
	<br>
	<p style="color: red;">Programação sujeita a alteração sem aviso prévio.</p>
	<br>

	<table width="100%" cellspacing="0" bordercolor="#FFFFFF" class="table">
		<tr bgcolor="#EEEEEE">
			<th style="width: 100px;">Horário</th>
			<th>Palestra</th>
		</tr>
		<tr class="break">
			<td>08:30</td>
			<td>Credenciamento</td>
		</tr>
		<tr class="break">
			<td>09:00</td>
			<td>Abertura Oficial do Evento</td>
		</tr>
		<tr>
			<td>09:20</td>
			<td>
				<%= link_to "JRuby: Ruby com J maiúsculo", "/speakers/#qmx", :target => "_blank" %>
				<strong>Douglas Campos (QMX)</strong>
			</td>
		</tr>
		<tr>
			<td>10:00</td>
			<td>
				<%= link_to "User Experience para Developers", "/speakers/#shiota", :target => "_blank" %>
				<strong>Eduardo Shiota Yasuda</strong>
			</td>
		</tr>
		<tr class="break">
			<td>10:40</td>
			<td>Coffee Break </td>
		</tr>
		<tr>
			<td>11:00</td>
			<td>NodeJS - Nando Vieira</td>
		</tr>
		<tr>
			<td>11:40</td>
			<td>
				<%= link_to "Open Source - desenvolvimento sem frescura", "/speakers/#jesus-lopes", :target => "_blank" %>
				<strong>Jésus Lopes - Zigotto</strong>
			</td>
		</tr>
		<tr class="break">
			<td>12:20</td>
			<td>Almoço </td>
		</tr>
		<tr>
			<td>13:30</td>
			<td>
				<%= link_to "SOLID através de BDD - um guia prático para Rubistas", "/speakers/#lucas-hungaro", :target => "_blank" %>
				<strong>Lucas Húngaro - GoNow</strong>
			</td>
		</tr>
		<tr>
			<td>14:10</td>
			<td>
			 	<%= link_to "Python, a arma secreta do Google e da sua carreira!", "/speakers/#luciano-ramalho", :target => "_blank" %>
  			<strong>Luciano Ramalho</strong>
			</td>
		</tr>
		<tr>
			<td>14:50</td>
			<td>Palestra #07 - Android </td>
		</tr>
		<tr class="break">
			<td>15:30</td>
			<td>Coffee Break </td>
		</tr>
		<tr>
			<td>15:50</td>
			<td>
				<%= link_to "Objective-C, do básico ao avançado, novidades do iOS5 e features dinâmicas da linguagem", "/speakers/#diego-chohfi", :target => "_blank" %>
				<strong>Diego Chohfi - Caelum</strong>
			</td>
		</tr>
		<tr>
			<td>16:30</td>
			<td>
				<%= link_to "Discutindo Arquiteturas e Rails", "/speakers/#akita", :target => "_blank" %>
				<strong>Fábio Akita - Codeminer42</strong>
			</td>
		</tr>
		<tr>
			<td>17:10</td>
			<td>
				<%= link_to "Programação para Atari 2600", "/speakers/#chester", :target => "_blank" %>
				<strong>Chester (Carlos Duarte do Nascimento) - Apontador</strong>
			</td>
		</tr>
		<tr class="break">
			<td>17:50</td>
			<td>Encerramento e Happy Hour do Evento </td>
		</tr>
	</table>
</div>
