<h1><%= t("titles.speakers.index") %></h1>

<div id="speakers">

	<div class="box">
		<a name="jesus-lopes" />
		<%= link_to "http://www.twitter.com/jtadeulopes", :target => "_blank" do %>
			<%= image_tag "/images/speakers/jesus-lopes.jpg", :title => "Jésus Lopes - Zigotto" %>
		<% end %>
		
		<p><strong>Open Source - desenvolvimento sem frescura</strong> - 11:40h</p>
		<br />
		<p>Se considera um bom desenvolvedor? Como concluiu isso? Em algum momento já se sentiu sozinho?
    Vamos ver um pouco da história, a comunidade, contribuição e muito aprendizado.</p>
		<br />

		<p><strong>Jésus Lopes</strong> - Zigotto</p>
		<p>Desenvolvedor de software, ex-gordo e sempre nerd. Jésus é co-fundador da Zigotto e desde 2008 se dedica ao estudo e desenvolvimento com Ruby e Rails.</p>
	</div>

	<div class="box">
		<a name="diego-chohfi" />
		<%= link_to "http://www.twitter.com/dchohfi", :target => "_blank" do %>
			<%= image_tag "/images/speakers/diego-chohfi.jpg", :title => "Diego Chohfi - Caelum" %>
		<% end %>
		
		<p><strong>Objective-C, do básico ao avançado, novidades do iOS5 e features dinâmicas da linguágem</strong> - 15:50h</p>
		<br />
		<p>O sistema operacional iOS desenvolvido pela Apple vem sido utilizada em seus últimos produtos: iPhone, iPad e Apple TV carregam códigos escritos em Objective-C, uma linguagem escrita em cima de C com fortes caracteristicas de Smalltalk e totalmente orientada a objetos.</p>
    <p>Desenvolvedores sentem arrepio ao estudar Objetive-C por ser uma linguagem "díficil" e complicada, na palestra veremos que com conceitos de orientação a objetos se trata apenas de uma nova sintaxe e se divertir escrevendo códigos que rodam diretamente no seu celular é mais divertido do que parece.</p>
    <p>Faremos um pequeno projeto para iPhone demonstrando os conceitos básicos da linguágem, utilizando novas features da nova versão do iOS.</p>
    <p>Para os programadores mais avaçados e experientes demonstraremos algumas features dinâmicas da linguágem que poucas pessoas conhecem, dando ao Objetive-C caracteristicas interessantes vistas em linguágens dinâmicas como Ruby, Scala, JavaScript e outras.</p>
		<br />

		<p><strong>Diego Chohfi</strong> - Caelum</p>
		<p>Desenvolvedor Java a 4 anos, gosta de aprender novas linguagens e é apaixonado por desenvolvimento em geral. Instrutor e desenvolvedor na Caelum, descobriu em dar aula uma nova paixão.</p>
	</div>
		
</div>
