<h1><%= t("titles.speakers.index") %></h1>

<div id="speakers">

	<div class="box group">
		<a name="jesus-lopes"></a>
		<%= link_to "http://www.twitter.com/jtadeulopes", :target => "_blank" do %>
			<%= image_tag "/images/speakers/jesus-lopes.jpg", :title => "Jésus Lopes - Zigotto" %>
		<% end %>

		<h2>Open Source - desenvolvimento sem frescura</strong> <small>- 11:40h</small></h2>
		<p>
			Se considera um bom desenvolvedor? Como concluiu isso? Em algum momento já se sentiu sozinho?
			Vamos ver um pouco da história, a comunidade, contribuição e muito aprendizado.
		</p>
		<p><strong>Jésus Lopes</strong> - Zigotto</p>
		<p>
			Desenvolvedor de software, ex-gordo e sempre nerd. Jésus é co-fundador da Zigotto e desde 2008
			se dedica ao estudo e desenvolvimento com Ruby e Rails.
		</p>
	</div>

	<div class="box group">
		<a name="diego-chohfi"></a>
		<%= link_to "http://www.twitter.com/dchohfi", :target => "_blank" do %>
			<%= image_tag "/images/speakers/diego-chohfi.jpg", :title => "Diego Chohfi - Caelum" %>
		<% end %>
		<h2>Objective-C, do básico ao avançado, novidades do iOS5 e features dinâmicas da linguagem <small>- 15:50h</small></h2>
		<p>
			O sistema operacional iOS desenvolvido pela Apple vem sido utilizado em seus últimos produtos:
			iPhone, iPad e Apple TV carregam códigos escritos em Objective-C, uma linguagem escrita em cima
			de C com fortes características de Smalltalk e totalmente orientada a objetos.
		</p>
		<p>
			Desenvolvedores sentem arrepio ao estudar Objetive-C por ser uma linguagem "díficil" e complicada,
			na palestra veremos que com conceitos de orientação a objetos trata-se apenas de uma nova sintaxe.
		</p>
		<p>
			Faremos um pequeno projeto para iPhone demonstrando os conceitos básicos da linguagem, utilizando
			novas features do iOS5.
		</p>
		<p>
			Para os programadores mais experientes demonstraremos algumas features dinâmicas da linguagem,
			dando ao Objetive-C caracteristicas interessantes vistas em Ruby, Scala, JavaScript e outras.
		</p>
		<p><strong>Diego Chohfi</strong> - Caelum</p>
		<p>
			Desenvolvedor Java a 4 anos, gosta de aprender novas linguagens e é apaixonado por desenvolvimento
			em geral. Instrutor e desenvolvedor na Caelum, descobriu em dar aula uma nova paixão.
		</p>
	</div>
</div>
