<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s.downcase %>">
	<head>
		<meta charset="UTF-8">
		<title><%= "Administrador • DevInVale 2011" %></title>
		<%= stylesheet_includes :base %>
		<%= dispatcher_tag %>
		<%= csrf_meta_tag %>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<%= body do %>
		<%= page do %>
			<%= header :class => "group" do %>
				<%= link_to root_path do %>
					<%= image_tag "logo.png" %>
				<% end %>
				<p>
					<strong>05 nov 2011</strong>
					<small>ITA, São José dos Campos/SP</small>
				</p>
				<nav id="menu">
					<%= link_to "Sair", class: "logout" %>
				</nav>
			<% end %>

			<div id="greeting">
				<p><%= t("texts.greeting") %></p>
			</div>

			<%= flash_messages %>

			<%= main :class => "group" do %>
				<%= yield %>
			<% end %>
		<% end %>

		<%= footer do %>
			<p class="copyright">
				<strong>DevInVale 2011 - Todos os Direitos Reservados</strong>
				<%= mail_to "contato@devinvale.com.br", "contato@devinvale.com.br" %>
				|
				<%= link_to "@devinvale", "http://twitter.com/#!/devinvale" %>
			</p>
		<% end %>

		<%= javascript_includes :base %>
	<% end %>
</html>
